.sections {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 100vw;

    &__section {
        min-width: 100vw;
        height: 100vh;

        &--chrono {
            .section__content {
                max-width: 540px;
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        max-width: 900px;
        margin-left: 50%;
        transform: translateX(-50%);
        justify-content: center;
        gap: 36px;
    }

    &__title {
        text-transform: uppercase;
    }

    &__label {
        text-transform: uppercase;
        font-size: $size-h4;
        display: flex;
        gap: 36px;
    }

    &__input {
        border: none;
        background-color: $c-bento-mauve;
        height: fit-content;
        border-radius: 15px;
        height: 100%;
        width: 50vh;
    }

    &__timer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: $size-title;
        font-weight: bold;
        margin: 0;
        width: 100%;

        .icon-before,
        .icon-after {
            display: inline-block;
            width: 50px;
            height: 50px;
            background-size: contain;
            background-repeat: no-repeat;
        }

        .icon-before {
            transform: rotate(180deg);
            background-image: url(../../assets/images/icones/semi-croix.svg);
            margin-right: 30px;
        }

        .icon-after {
            background-image: url(../../assets/images/icones/semi-croix.svg);
            margin-left: 30px;
        }


        .minutes,
        .seconds,
        .millis {
            display: inline-block;
            text-align: center;
            width: 2ch;
        }

        .millis {
            width: 3ch;
        }


    }

    &__buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }



    .sections__button {
        text-transform: uppercase;
        background-color: $c-bento-fushia;
        padding: 4vh 8vh;
        border-radius: 15px;
        font-weight: 500;


    }

}

.game__close {
    position: fixed;
    top: 64px;
    left: 64px;
    z-index: 10;
}

.game__next {
    position: fixed;
    bottom: 64px;
    right: 64px;
    z-index: 10;
}