.maps{
    display: flex;
    padding: 64px;
    gap: 32px;
    &__header{
        display: flex;
        flex-direction: column;
        gap: 32px;
        max-width: 40%;
    }
    &__nav{
        display: flex;
        &-item{
            background-color: $c-bento-rose;
            border-radius: 35px;
        }
        &-link{
            border: none;
            display: flex;
            height: 100%;
            padding: 32px;
            width: 100%;
            align-items: center;
        }
        
    }
    &__title{
        background-color: $c-bento-fushia;
        border-radius: 35px;
        display: flex;
        flex-direction: column;
        padding: 32px;
        gap: 20px;
        &-sub{
            text-transform: uppercase;
            font-weight: 400;
        }
    }
    &__club{
        //overflow-y: scroll;
        &-info{
            display: flex;
            border-radius: 35px;
            padding: 32px;
            justify-content: space-between;
            background-color: chartreuse;
        }
        &-name{
            font-weight: bold;
        }
        &-location{
            text-transform: uppercase;
            font-weight: 400;
        }
    }
    &__plan{
        border: solid 4px white;
        overflow: hidden;
        border-radius: 35px;
        width: 100%;
    }
}

.maps__plan{

    width: 100%;
    height: 100%;
    border-radius: 35px;
    .leaflet-control-attribution {
        display: none;
    }
    
}