@import 'utils/variables';
@import 'components/fonts';
/*@import 'components/gradient';*/
@import 'components/page1';

:root {
    --rose: #D60081;
    --bleu: #267797; 
    --bg: #ffffff; 
  }
  

body {
  font-family: 'ClashDisplay';
  margin: 0;
  padding: 0;

}

section {
  height: 100vh;
  display: flex;
  & div{
    display: flex;
    flex-direction: column;
  }
}

h1{
  font-size: $size-title;
  text-transform: uppercase;
  margin: 0;

}

h2{
  font-size: $size-h2;
  margin: 0;
}

h3{
  font-size: $size-h3;
  margin: 0;
  text-transform: uppercase;
}

h4{
  font-size: $size-h4;
  margin: 0;
}

button{
  font-size: $size-title;
  font-family: 'ClashDisplay';
  border: none;
  background-color: transparent;
}

.number{

  font-family: 'ClashDisplay';
  font-size: $size-number;
  font-weight: bold;
  margin: 0;

}

.number--return{
  transform: scaleX(-1);
  transform-origin: center;
  display: inline-block;
}



