@import 'utils/variables';
@import 'components/fonts';
/*@import 'components/gradient';*/
@import 'components/page1';

:root {
    --rose: #D60081;
    --bleu: #267797; 
    --bg: #ffffff; 
  }
  

body {
  font-family: 'ClashDisplay';

}

h1{
  font-size: $size-title;
  text-transform: uppercase;

}

