@import 'utils/variables';
@import 'components/fonts';
@import 'components/page1';
@import 'components/backgrad';

:root {
    --rose: #D60081;
    --bleu: #267797; 
    --bg: #ffffff; 
  }
  

body {
  font-family: 'ClashDisplay';

}

