
///couleurs

$rose: #D60081;
$bleu: #267797; 
$bg: #ffffff; 

$c-bento-rose: #D5158B; 
$c-bento-fushia: #B00089; 
$c-bento-mauve: #8D0994; 

///textes

$c-text: #0b0b0b;

$size-text: 20px;
$size-title: 112px;
$size-number: 112px;
$size-h2: 63px;
$size-h3: 36px;
$size-h4: 27px;
